.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: black;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-Layout {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: row;
}

.App-ChatBox {
  flex: auto;
} 
