.ChatBox {
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ChatBox-header {
    background-color: brown;
    color: white;
    padding: 0.25rem;
}

.ChatBox-message-wrapper {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}
